<div class="boxed col-xs-10 col-xs-offset-1">
	<h1><%= @venue.name %></h1>
	<i><%= @venue.address %></i>
	<br><br>
	<p><%= @venue.description %></p>
	</div>

	<div class="clear"></div>
	<div class="boxed col-xs-10 col-xs-offset-1">
	<%= simple_form_for @gig, :url => venue_gigs_path(@venue) do |f| %>
	  <%= f.input :name %>
	  <%= f.input :gig_date %>
	  <br />
	  <%= f.submit "Add a Gig", :class => 'btn btn-primary' %>
	<% end %>
</div>

<div class="boxed col-xs-10 col-xs-offset-1">
	<h2>Gigs</h2>

	<% @venue.gigs.each do |gig| %>
	  <div>
	    <b><%= gig.name %></b>
	    <p><%= gig.gig_date %></p>
	  </div>
	<% end %>
</div>